<% if current_user %>
  <div class="btn-group pull-right">
    <a class="btn btn-primary dropdown-title" href="#"><i class="icon-user icon-white"></i> <%= current_user %></a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to raw("<i class='icon-user icon-off'></i> Logout"), logout_url %></li>
    </ul>
  </div>
<% else %>
  <ul class="nav nav-pills pull-right">
    <li <%= "class=active" if controller.controller_name == "sessions" %>><%= link_to "Login/Register", login_url %></li>
  </ul>
<% end %>