<% filter ||= {} %>

<% if current_college %>
  <div>
    <h3><%= current_college %><br><%= current_college.city_state %></h3>
    <div style="font-weight: bold;font-size: 1.4em;">Communities</div>
    <%= render :partial => "communities/list", :locals => {:communities => current_college.communities.order(:name)} %>
  </div>
<% else %>
  <div>
    <h3>Choose a College</h3>
    
    <% @colleges.each do |college| %>
      <%= link_to college, college %><br />
    <% end %>
  </div>
<% end %>