<% filter ||= {} %>

<div>
  <% if current_college %>
    <h3><%= current_college %><br><%= current_college.city_state %></h3>
    <div class="community_college_picker_header">Communities</div>
    <div class="community_list_container">
      <%= render :partial => "communities/list", :locals => {:communities => current_college.communities.order(:name)} %>
    </div>
  <% end %>
  <div class="community_college_picker_header">Colleges</div>
  <% @colleges.each do |college| %>
    <%= link_to college, listings_path(college_id: college.id) %><br />
  <% end %>
</div>