<% if listings.empty? %>
  <h3>Dang, no ads found :(</h3>
<% else %>
  <table class="table table-striped table-bordered table-hover ">
    <tr>
      <th>Title</th>
      <% unless current_college %>
        <th>College</th>
      <% end %>
      <th>Price</th>
      <th>Date Available</th>
      <% if current_user %>
        <th></th>
      <% end %>
    </tr>
    <% listings.each do |listing| %>
      <%= render :partial => "listings/row", :locals => {:listing => listing} %>
    <% end %>
  </table>
<% end %>

<%= will_paginate listings %>