<div class="left_side">
  <h1><%= listings_header %></h1>

  <div id="listings_list">
    <%= render :partial => "list", :locals => {:listings => @listings} %>
  </div>
</div>

<div id="college_community_picker">
  <%= render :partial => "college_community_picker", :locals => {:filter => params[:filter]} %>
</div>

<div class="clear"></div>