<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title><%= show_title %></title>

<meta name="description" content="<%= show_description %>">
<meta name="keywords" content="<%= show_keywords %>">