<div id="document_wrapper">
  <h2>Pictures</h2>

  <% if editable %>
    <p><%= add_child_link raw("#{add_icon} Add Picture"), f, :documents, {partial: 'documents/form', where: 'bottom'} %></p>
  <% end -%>

  <%= f.fields_for :documents do |document_form| %>
    <%= render partial: 'documents/form', locals: { f: document_form, where: 'bottom', editable: editable } %>
  <% end %>
</div>