<div id="document_wrapper">
  <strong>Pictures:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
  <% if editable %>
    <span><%= add_child_link "New Image", f, :documents, {:partial => 'documents/form', :where => 'bottom'} %></span><br />
  <% end -%>

  <%= f.fields_for :documents do |document_form| %>
    <%= render :partial => 'documents/form', :locals => { :f => document_form, :where => 'bottom', :editable => editable } %>
  <% end %>
</div>