<% state_id ||= nil %>

<div style="float:left;width: 60px;font-size: 16px;">
  City:
</div>
<%= select_tag :city, 
  options_for_select(Address.city_select_options(include_blank: true, state_id: state_id)),
  class: "short_select" %>