<h1>
  <%= current_college if current_college %> Student Apartment Communities
  <% if current_user && current_user.admin? %>
    <span class="new_link_holder"><%= link_to raw("#{add_icon} New Community"), new_community_path %></span>
  <% end %>
</h1>

<%= render partial: "communities/table", locals: {communities: @communities} %>

<br />

<% if current_user && current_user.admin? %>
  <%= link_to raw("#{add_icon} New Community"), new_community_path %>
<% end %>